atari-py==0.1.7
baselines==0.1.5
gym==0.12.0
ipykernel==4.8.2
matplotlib==2.2.0
mujoco-py==1.50.1.68
numba==0.37.0
numpy==1.16.0
pandas==0.22.0
pipreqs==0.4.9
scipy==1.0.0
tensorboard==1.6.0
tensorboardX==1.6
tensorflow==1.6.0
tensorflow-estimator==1.13.0
tensorflow-probability==0.6.0
torch==0.4.1
torchvision==0.2.1
